{%extends "hub/base.html" %}

{% load static%}

{% block css_links %}
<link rel="stylesheet" href="{% static 'transactions/variables.css' %}">

<link rel="stylesheet" href="{% static 'transactions/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'transactions/dropdown-menu.css' %}">
{% endblock %}

{% block content %}
<script>
    function toggleDropdown(e) {
        console.log(e)
        let dropdown = e.target.parentElement.parentElement.nextElementSibling

        if (dropdown.classList.contains("dropdown-open")) {
            dropdown.classList.remove("dropdown-open")
            dropdown.classList.add("dropdown-closed")
        } else {
            dropdown.classList.remove("dropdown-closed")
            dropdown.classList.add("dropdown-open")
        }
    }
</script>


    <div class="top-container">
        <div class="add-container">
            <form id="add-trans-form" method="post">
                {%csrf_token%}
                {{form}}
        
                <button type="submit"> Add Transaction</button>
            </form>
        </div>

        </div>
        
    </div>
    
    <div class="total-container">    
        <div class="total-box {{sum_state}}">
            <p><b>Total: {{sum}} {{sum_currency}}</b></p>
        </div>
    </div>
    {% for trans in transactions %}
    <div class="dropdown-menu-container">
        <div class="transaction {{trans.direction}} ">
            <div class="transaction-text">
                <p><b>{{trans.name}}</b></p>
                <p class="transaction-date">{{trans.date}}</p>
                {% if trans.tag%}
                    <div class="transaction-tag" style="background-color: {{trans.tag_color}}">{{trans.tag}}</div>
                {%endif%}
            </div>
            
            <div class="transaction-amt">
                <p>{{trans.amount}}</p>
                <p>{{trans.currency}}</p>
                <button class="dropdown-button" onclick="toggleDropdown(event)">...</button>
            </div>
            
        </div>
        <div class="dropdown-content dropdown-closed">
            {{trans.description}}
            {% if trans.sender %}
            <p>Sender: {{trans.sender}}</p>
            {% endif %}
            {% if trans.receiver %}
            <p>Receiver: {{trans.receiver}}</p>
            {% endif %}
        </div>
    </div>
    

    {%endfor%}
    <div class="total-container">    
        <div class="total-box {{sum_state}}">
            <p><b>Total: {{sum}} {{sum_currency}}</b></p>
        </div>
    </div>

{%endblock%}