/* ############### General todo view ###############  */
main {
    margin: 2rem;

}

.new-todo-container {
    width: 25vw;
    display: flex;
    justify-content: space-around;
}

h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.todo-drag-handle:hover {
    background-color: var(--mid-bg);
    border-radius: 0.5rem;
    cursor: grab;
}

.todo-drop-spot {
    background-color: var(--light-bg);
    width: 2.5rem;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: var(--mid-bg);
    height: 3.5rem;
    display: none;
}


textarea {
    max-width: 15vw
}

/* ############### Recurrency view ################## */

.trash-container {
    display: inline-block;
    height: 100%;
}

.user-drop-spot {
    background-color: var(--mid-bg);
    width: 5rem;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: var(--dark-bg);
    height: 2rem;
    visibility: collapse;
    flex-shrink: 0;
}

.user-drag-handle:hover {
    cursor: grab;
}

.select-icon:hover {
    cursor: grab;
}

.recurrent-position-drop-spot {
    background-color: var(--mid-bg);
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: var(--dark-bg);
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    visibility: hidden;
}
