.dropdown-open {
    height: 10rem;
    background-color: var(--light-bg);
    padding-top: 1rem;
    width: 100%;
    border-radius: 0.25rem;
}

.dropdown-closed {
    height: 0rem;
    overflow: hidden;
    background-color: var(--light-bg);
    width: 100%;
}
