{%extends "hub/base.html" %}


{% load static%}
{% load i18n %}
{% block header %}
{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'hub/css/login.css' %}">
{% endblock %}

{% block content %}
    <div id="login-container">
        <div id="login">
            <h1>{% trans 'Password reset complete!' %}</h1>
            <p>You password has been reset!</p>
            <p>Go ahead and login with your new password: <a href="{% url 'login' %}">{% trans 'Login' %}</a></p></p>
        </div>
    </div>
{%endblock content%}

