{%extends "hub/base.html" %}


{% load static%}
{% load i18n %}
{% block header %}
{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'hub/css/login.css' %}">
{% endblock %}

{% block content %}
    <div id="login-container">
        <div id="login">
            <h1>{% trans 'Password change document!' %}</h1>
            <p class="p-3">{% trans "Your password has successfully been changed" %}</p>

            <a href="{% url 'hub:dashboard' %}">{% trans "Return to page" %}</a>
        </div>
    </div>
{%endblock content%}

