{%extends "hub/base.html" %}


{% load static%}
{% load i18n %}
{% block header %}
{% endblock %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'hub/css/login.css' %}">
{% endblock %}

{% block content %}
    <div id="login-container">
        <div id="login">
            <h1>{% trans 'Email sent!' %}</h1>
            <p class="p-3">{% trans "We've emailed you instructions for resetting your password. If an account exists with the email you entered, you should receive the mail shortly." %}</p>

            <p class="p-3">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            
            <a href="{% url 'login' %}">{% trans "Return to login" %}</a>
        </div>
    </div>
{%endblock content%}

