{% load static %}
{% load i18n %}

<div class="col gap-small pt-1 pb-2 align-center" id="people-list">
    {% for person in joined_people %}
        <div class="p-05 background-light-blue border-light-blue border-radius-05 row justify-between w-80p h-3">
            <b>{{ person.user.username }}</b>
            {% if space.owner == person %}
                <span>{% trans 'Owner' %}</span>
            {% endif %}
            {% if space.owner == user or person == user %}
                <a hx-delete="{% url 'space:space_view' space.id %}?hxp=kick_person&person_id={{ person.id }}" hx-confirm=
                {% if joined_people|length == 1%}
                    "{% trans 'Are you sure? By leaving as the last person the space and all connected data will be lost!' %}%"
                {% else %}
                    "{% trans 'Are you sure that you want to kick this person from the space?' %}%"
                {% endif %}
                hx-target="#people-list"
                hx-swap="outerHTML">
                    {% if person == user %}
                    <img src="{% static 'space/assets/door-kick.svg' %}" alt="{% blocktranslate with space_name=space.name %}Leave {{space_name}}{% endblocktranslate %}" title="{% blocktranslate with space_name=space.name %}Leave {{space_name}}{% endblocktranslate %}">
                    {% else %}
                    <img src="{% static 'space/assets/door-kick.svg' %}" alt="{% blocktranslate with user_name=person.user.username%}Kick {{user_name}}{% endblocktranslate %}" title="{% blocktranslate with user_name=person.user.username%}Kick {{user_name}}{% endblocktranslate %}">
                    {% endif %}
                </a>
            {% else %}
                <div></div>
            {% endif %}
        </div>
    {% endfor %}
</div>

