{% load static %}
{% load i18n %}

<div class="quick-space-container" style="display:none">
    <div class="col gap-small p-1 maxh-40vh overflow-scroll">
        {% for space in user_spaces %}
        <div class="row gap-small">
            {% if selected_space.id == space.id %}
                <img src="{% static 'space/assets/door.svg' %}" alt="Selected Space" style="width: 2rem;">
            {% else %}
                <img src="{% static 'space/assets/door.svg' %}" alt="Select Space" style="width: 2rem; visibility:hidden;">
            {% endif %}
            <a class="button"
            href="{% url 'space:select_space' space.id %}">{{space.name}}</a>
            <a href="{% url 'space:space_view' space.id %}">
                <img src="{% static 'space/assets/settings.svg' %}" alt="Settings">
            </a>
        </div>
   
    {% endfor %}
    </div>
    
    <div class="horizontal-line"></div>
    <form action="{% url 'space:join_space' %}" method="post" class="col gap-small">
        {% csrf_token %}
        <input type="text" name="space_token" placeholder="Invite Token" aria-label="Invite Token" required>
        <input class="button" type="submit" value="{% trans 'Join Space' %}">
    </form>
    <a href="{% url 'space:create_space' %}"  class="button">{% trans 'Create Space' %}</a>
</div>