main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 2rem;
    margin: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
}

.transaction-amt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.transaction-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.transaction-date {
    font-size: small;
}

.total-container {
    width: 80vw;
    margin:0;
    padding:0;
    transform: translate(-0.5rem, 0);
}
.total-box {
    width: fit-content;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}

.negative {
    background-color: var(--negative-bg);
}

.positive {
    background-color: var(--positive-bg);
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    height: 20rem;
}

.add-container {
    width: 20vw;
}

.graph-container {
    width: 50vw;
    height: 20rem;
    background-color: var(--mid-bg);
}

.dropdown-button {
    background-color: var(--mid-bg);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.transaction-tag {
    padding: 0.2rem;
    border-radius: 0.2rem;
}

