{% load static %}
{% load i18n %}

<div class="card w-30vw" id="todo-card">
    <div class="card-header background-light-highlight">
        {% trans 'Todos' context 'Todos section title' %}
    </div>
    <div class="card-body">
        <div class="col align-start gap-medium">
            <p>{% trans "Open todos:" %} {{ open_todo_amt }}</p>

            <p>{% trans 'Open todos assigned to you:' %} {{ open_assigned_todo_amt }}</p>
            {% comment %} <p>{% trans 'Open todos due this week:' %} {{ open_todos_due }} </p> {% endcomment %}
            {% comment %} <p>{% trans 'Weekly stats:' %}</p> {% endcomment %}
        </div>
    </div>
</div>