<!DOCTYPE html>
<html lang="en">
{% load static%}
{% load i18n %}

{% load django_htmx %}
<head>
    <script src="{% static 'hub/lib/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'hub/lib/htmx-2.0.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'hub/base.css' %}">
    <link rel="stylesheet" href="{% static 'hub/components.css' %}">
    <link rel="stylesheet" href="{% static 'hub/border.css' %}">
    <link rel="stylesheet" href="{% static 'hub/colors.css' %}">
    <link rel="stylesheet" href="{% static 'hub/flex.css' %}">
    <link rel="stylesheet" href="{% static 'hub/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'hub/sizing.css' %}">
    <link rel="stylesheet" href="{% static 'hub/filters.css' %}">
    <link rel="stylesheet" href="{% static 'hub/text.css' %}">
    <link rel="stylesheet" href="{% static 'space/space.css' %}">
    <title>{% block title %}{% trans 'Household Planner' context 'Page title' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css_links %}{% endblock %}
</head>
{% comment %} 
    hx-headers sets the csrf token for htmx, so that all HTTP request types can be used
{% endcomment %}
<body>
    {% django_htmx_script %}
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script> 
    <script src="{% static "hub/header.js" %}"></script>
    <script src="{% static "hub/collapse.js" %}"></script>
    {% block header %}
    <header>
        <div class="header-section">
            <a href="{% url 'hub:hub' %}" class="button">{% trans 'Hub' context 'Header Title' %}</a>
            {% if selected_space %}
                <a href="{% url 'todos:todos' %}" class="button">{% trans 'Todos' context 'Header Title' %}</a>
            {% endif %}
        </div>
        <div class="header-section">
            <div class="space-dropdown">
                {% if selected_space%}
                    <a class="button space-button" onclick="toggleQuickspace(event)">{{selected_space.name}}</a>
                {% else %}
                    <a class="button space-button" onclick="toggleQuickspace(event)">{% trans 'Spaces' context 'Header Title' %}</a>
                {% endif %}
                {% include "space/components/quick_space.html" %}
            </div>
            
            <a href="{% url 'hub:logout' %}" class="button">{% trans 'Logout' %}</a>
        </div>
        
    </header>
    {% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>