{% load static%}
<script>
    let checks = document.getElementsByClassName("user-add-check")

    for (let check of checks) {
        check.addEventListener("change", (event) => {
            userChecked(event)
        })
    }

    document.getElementById("rate-change-input").addEventListener("change", (event) => {
        rateChanged(event)
    })

    function drop_user(ev) {
        ev.preventDefault()

        
        let id = ev.dataTransfer.getData('todo-id')
        let prev_position = ev.dataTransfer.getData("prev_pos")
        let position = ev.target.getAttribute("pos")
        if (Math.abs(position - prev_position) == 0) {
            return
        }
        let url = `/todos/${id}/${prev_position}/${position}/recurrency_reorder_user`
        htmx.ajax("POST", url, '#recurrent-block')
    }

    function setupUserDragEnv(e) {
        let handles = document.getElementsByClassName("user-drag-handle")
        let drop_spots = document.getElementsByClassName("user-drop-spot")
    
        for (let handle of handles) {
            let draggable_elem = handle.closest('.draggable-user-container')
    
            handle.onmousedown = function(e) {
                draggable_elem.setAttribute('draggable', 'true');
                
            }
            handle.onmouseup = function(e) {
                draggable_elem.setAttribute('draggable', 'false');
                
            }
            draggable_elem.ondragstart = function(e) {
                let todo_id = e.target.getAttribute("todo-id")
                let pos = e.target.getAttribute("pos")
                e.dataTransfer.setData('todo-id', todo_id)
                e.dataTransfer.setData('prev_pos', pos)
                e.dataTransfer.setData('text/plain', 'handle');
                for (let drop_spot of drop_spots) {
                    drop_spot.style.visibility = "visible"
                }
            }
            draggable_elem.ondragend = function(e) {
                e.target.setAttribute('draggable', 'false')
                for (let drop_spot of drop_spots) {
                    drop_spot.style.visibility = "hidden"
                }
          };
        }

        for (let spot of drop_spots) {
            spot.ondrop = function(e) {
                drop_user(e)
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function(e) {
        setupUserDragEnv(e)
    })
    document.addEventListener('htmx:afterSwap', function(e) {
        setupUserDragEnv(e)
    });
    setupUserDragEnv()
</script>
<div class="floating-container">
    <div class="top-bar-container">
        <div></div>
        <a hx-get="{% url 'todos:empty'%}" 
        hx-target="#recurrent-block"
        hx-swap="innerHTML" 
        onclick="clearSelectedUsers()"
        class="close-icon-container">
            <img src="{% static 'todos/assets/close.svg' %}" class="close-icon">
        </a>
    </div>
    <div class="recurrency-editor-container">
        
        <div class="recurrency-list">
            {% if existing_order|length > 0%}
                <div class="user-drop-spot" 
                pos="0"
                ondragover="allowDrop(event)"
                ondrop="drop_user(event)"></div>
            {%endif%}
            {% for user in existing_order%}
            <div class="recurrency-item-container draggable-user-container" todo-id="{{todo.id}}" pos="{{forloop.counter0}}">
                {% if forloop.counter0 == current_assignment_idx%}
                    <div class="select-drag-spot">
                        <img src="{% static 'todos/assets/select.svg' %}" class="close-icon">
                    </div>
                {% else %}
                    <div class="select-drag-spot"></div>
                {% endif %}
                <div class="recurrency-item">
                    
                    <p class="recurrency-user-name">{{user.auth_user.username}}</p>
                    <div cass="vertical-center-flex">
                        <a hx-post="{% url 'todos:recurrency_remove_position' todo.id forloop.counter0%}" 
                        hx-target="#recurrent-block"
                        hx-swap="innerHTML"
                        class="trash-container">
                            <img src="{% static 'todos/assets/trash.svg' %}" class="trashcan">
                        </a>
                        <img src="{% static 'todos/assets/drag.svg' %}" class="user-drag-handle" draggable="false">
                    </div>
                </div>
            </div>
            <div class="user-drop-spot" 
            pos="{{forloop.counter}}"
            ondragover="allowDrop(event)"
            ondrop="drop_user(event)"></div>
            {%endfor%}
        </div>
        <div class="vertical-line" style="background-color: var(--mid-bg)"></div>
        <div class="recurrency-settings">
            <div class="add-user-container">
                <div class="user-list">
                    <div class="selectable-user">
                        <p>Empty space</p>
                        <input  class="user-add-check" type="checkbox" name="-1_checked" id="-1" change="userChecked(event)">
                    </div>
                    {% for user in available_users%}
                    <div class="selectable-user">
                        <p>{{user.auth_user.username}}</p>
                        <input  class="user-add-check" type="checkbox" name="{{user.id}}_checked" id="{{user.id}}" change="userChecked(event)">
                    </div>
                        
                    {% endfor %}
                </div>
                <a onclick="addSelectedUsers(event)" class="button" todo-id="{{todo.id}}">Add Selected Users</a>
            </div>
            <div class="horizontal-line" style="background-color: var(--mid-bg); margin: 0.5rem 0;"></div>
            <div class="recurrency-parameter">
                <p>Rate in days:</p>
                <input type="number" class="recurrency-rate" value="{{rate}}" min="1" id="rate-change-input" todo-id="{{todo.id}}">
            </div>
            <div class="button">Remove recurrency</div>
        </div>
        
    </div>
</div>
