{% load static%}
<script>
    var checks = document.getElementsByClassName("user-add-check")

    for (var check of checks) {
        check.addEventListener("change", (event) => {
            userChecked(event)
        })
    }

    document.getElementById("rate-change-input").addEventListener("change", (event) => {
        rateChanged(event)
    })

    function drop_user(ev) {
        ev.preventDefault()

        
        var id = ev.dataTransfer.getData('todo-id')
        var prev_position = ev.dataTransfer.getData("prev_pos")
        var position = ev.target.getAttribute("pos")
        if (Math.abs(position - prev_position) == 0) {
            return
        }
        var url = `/todos/${id}/${prev_position}/${position}/recurrency_reorder_user`
        htmx.ajax("POST", url, '#recurrent-block')
    }

    function setupUserDragEnv(e) {
        var handles = document.getElementsByClassName("user-drag-handle")
        for (var handle of handles) {
            var draggable_elem = handle.closest('.draggable-user-container')
            console.log(draggable_elem)
            handle.onmousedown = function(e) {
                draggable_elem.setAttribute('draggable', 'true');
                
            }
            handle.onmouseup = function(e) {
                draggable_elem.setAttribute('draggable', 'false');
                
            }

            draggable_elem.ondragstart = function(e) {
                console.log(e.target)
                var todo_id = e.target.getAttribute("todo-id")
                var pos = e.target.getAttribute("pos")
                e.dataTransfer.setData('todo-id', todo_id)
                e.dataTransfer.setData('prev_pos', pos)
                e.dataTransfer.setData('text/plain', 'handle');
                var user_drop_spots = document.getElementsByClassName("user-drop-spot")

                for (var drop_spot of user_drop_spots) {
                    console.log(drop_spot)
                    drop_spot.style.visibility = "visible"
                    drop_spot.ondrop = function(e) {
                        drop_user(e)
                    }
                }
            }
            draggable_elem.ondragend = function(e) {
                e.target.setAttribute('draggable', 'false')
                var user_drop_spots = document.getElementsByClassName("user-drop-spot")

                for (var drop_spot of user_drop_spots) {
                    drop_spot.style.visibility = "hidden"
                    drop_spot.ondrop = function(e) {
                    }
                }
          };
        }
    }

    function drop_position(ev) {
        ev.preventDefault()

        var id = ev.target.getAttribute('todo-id')
        var prev_position = ev.dataTransfer.getData("prev_pos")
        var position = ev.target.getAttribute("pos")
        if (Math.abs(position - prev_position) == 0) {
            return
        }
        var url = `/todos/${id}/${position}/recurrency_set_position`
        htmx.ajax("POST", url, '#recurrent-block')
    }

    function setupPositionDragEnv(e) {
        var handles = document.getElementsByClassName("select-icon")
    
        for (var handle of handles) {
            var draggable_elem = handle.closest(".select-drag-spot")
    
            handle.onmousedown = function(e) {
                draggable_elem.setAttribute('draggable', 'true');
                
            }
            handle.onmouseup = function(e) {
                draggable_elem.setAttribute('draggable', 'false');
                
            }
            draggable_elem.ondragstart = function(e) {
                var todo_id = e.target.getAttribute("todo-id")
                var pos = e.target.getAttribute("pos")
                e.dataTransfer.setData('prev_pos', pos)
                e.dataTransfer.setData('todo-id', todo_id)

                e.dataTransfer.setData('text/plain', 'handle');
                var position_drop_spots = document.getElementsByClassName("recurrent-position-drop-spot")

                for (var drop_spot of position_drop_spots) {
                    console.log(drop_spot)

                    drop_spot.style.visibility = "visible"
                    drop_spot.ondrop = function(e) {
                        drop_position(e)
                    }
                }
            }
            draggable_elem.ondragend = function(e) {
                e.target.setAttribute('draggable', 'false')
                var position_drop_spots = document.getElementsByClassName("recurrent-position-drop-spot")

                for (var drop_spot of position_drop_spots) {
                    drop_spot.style.visibility = "hidden"
                    drop_spot.ondrop = function(e) {
                        
                    }
                }
          };
        }

        
    }

    document.addEventListener("DOMContentLoaded", function(e) {
        setupUserDragEnv(e);
        setupPositionDragEnv(e)
    })
    document.addEventListener('htmx:afterSwap', function(e) {
        setupUserDragEnv(e);
        setupPositionDragEnv(e)
    });
    setupUserDragEnv();
    setupPositionDragEnv()
</script>
<div class="floating">
    <div class="top-bar-container">
        <div></div>
        <a hx-get="{% url 'todos:empty'%}" 
        hx-target="#recurrent-block"
        hx-swap="innerHTML" 
        onclick="clearSelectedUsers()"
        class="close-icon-container">
            <img src="{% static 'todos/assets/close.svg' %}" class="close-icon">
        </a>
    </div>
    <div class="recurrency-editor-container">
        
        <div class="recurrency-list">
            {% if existing_order|length > 0%}
                <div class="user-drop-spot" 
                pos="0"
                ondragover="allowDrop(event)"></div>
            {%endif%}
            {% for user in existing_order%}
            <div class="recurrency-user-container">

                {% if forloop.counter0 == current_assignment_idx%}
                    <div class="select-drag-spot" pos="{{forloop.counter0}}" todo-id="{{todo.id}}">
                        <img src="{% static 'todos/assets/select.svg' %}" class="select-icon">
                    </div>
                {% else %}
                    <div class="recurrent-position-drop-spot" pos="{{forloop.counter0}}" todo-id="{{todo.id}}" ondragover="allowDrop(event)" todo-id="{{forloop.counter0}}"></div>
                {% endif %}
                <div class="recurrency-item-container draggable-user-container" todo-id="{{todo.id}}" pos="{{forloop.counter0}}" draggable="true">
                    <div class="recurrency-item">
                        
                        <p class="recurrency-user-name">{{user.auth_user.username}}</p>
                        <div cass="vertical-center-flex">
                            <a hx-post="{% url 'todos:recurrency_remove_position' todo.id forloop.counter0%}" 
                            hx-target="#recurrent-block"
                            hx-swap="innerHTML"
                            class="trash-container">
                                <img src="{% static 'todos/assets/trash.svg' %}" class="trashcan">
                            </a>
                            <img src="{% static 'todos/assets/drag.svg' %}" class="user-drag-handle" draggable="false">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="user-drop-spot" 
            pos="{{forloop.counter}}"
            ondragover="allowDrop(event)"></div>
            {%endfor%}
        </div>
        <div class="vertical-line" style="background-color: var(--mid-bg)"></div>
        <div class="recurrency-settings">
            <div class="add-user-container">
                <div class="user-list">
                    <div class="selectable-user">
                        <p>Empty space</p>
                        <input  class="user-add-check" type="checkbox" name="-1_checked" id="-1" change="userChecked(event)">
                    </div>
                    {% for user in available_users%}
                    <div class="selectable-user">
                        <p>{{user.auth_user.username}}</p>
                        <input  class="user-add-check" type="checkbox" name="{{user.id}}_checked" id="{{user.id}}" change="userChecked(event)">
                    </div>
                        
                    {% endfor %}
                </div>
                <a onclick="addSelectedUsers(event)" class="button" todo-id="{{todo.id}}">Add Selected Users</a>
            </div>
            <div class="horizontal-line" style="background-color: var(--mid-bg); margin: 0.5rem 0;"></div>
            <div class="recurrency-parameter">
                <p>Rate in days:</p>
                <input type="number" class="recurrency-rate" value="{{rate}}" min="1" id="rate-change-input" todo-id="{{todo.id}}">
            </div>
            <a hx-get="{% url 'todos:remove_recurrency' todo.id%}" 
            hx-target="#todo-list"
            hx-swap="innerHTML" 
            onclick="return confirm('Are you sure? By removing the recurrency all the settings will be lost.')"
            class="button">
                Remove Recurrency
            </a>
        </div>
        
    </div>
</div>
