{% load static%}
{% load i18n %}

<script>
    $(document).ready(() => {
        // Add event listener to rate changes
        document.getElementById("rate-change-input").addEventListener("change", (event) => {
            rateChanged(event)
        });

            
        document.addEventListener("DOMContentLoaded", function(e) {
            setupUserDragEnv(e);
            setupPositionDragEnv(e)
        })
        document.addEventListener('htmx:afterSwap', function(e) {
            setupUserDragEnv(e);
            setupPositionDragEnv(e)
        });
        setupUserDragEnv();
        setupPositionDragEnv()

        // Save checked boxes for sending them on
        // TODO: Make this into a multiselect form
        var checks = document.getElementsByClassName("user-add-check")

        for (var check of checks) {
            console.log(check)
            check.addEventListener("change", (event) => {
                console.log(event)
                userChecked(event)
            })
        }
    })
    

    

    // Callback for dropping users
    function drop_user(ev) {
        ev.preventDefault()

        
        var id = ev.dataTransfer.getData('todo-id')
        var prev_position = ev.dataTransfer.getData("prev_pos")
        var position = ev.target.getAttribute("pos")
        if (Math.abs(position - prev_position) == 0) {
            return
        }
        var url = `/todos/${id}/editor?hxp=reorder_user&pos=${position}&prev_pos=${prev_position}`
        htmx.ajax("POST", url, '#schedule-block')
    }

    // Setup for dragging users
    function setupUserDragEnv(e) {
        var handles = document.getElementsByClassName("user-drag-handle")
        for (var handle of handles) {
            var draggable_elem = handle.closest('.draggable-user-container')
            console.log(draggable_elem)
            handle.onmousedown = function(e) {
                draggable_elem.setAttribute('draggable', 'true');
                
            }
            handle.onmouseup = function(e) {
                draggable_elem.setAttribute('draggable', 'false');
                
            }

            draggable_elem.ondragstart = function(e) {
                console.log(e.target)
                var todo_id = e.target.getAttribute("todo-id")
                var pos = e.target.getAttribute("pos")
                e.dataTransfer.setData('todo-id', todo_id)
                e.dataTransfer.setData('prev_pos', pos)
                e.dataTransfer.setData('text/plain', 'handle');
                var user_drop_spots = document.getElementsByClassName("user-drop-spot")

                for (var drop_spot of user_drop_spots) {
                    drop_spot.style.visibility = "visible"
                    drop_spot.ondrop = function(e) {
                        drop_user(e)
                    }
                }
            }
            draggable_elem.ondragend = function(e) {
                e.target.setAttribute('draggable', 'false')
                var user_drop_spots = document.getElementsByClassName("user-drop-spot")

                for (var drop_spot of user_drop_spots) {
                    drop_spot.style.visibility = "collapse"
                    drop_spot.ondrop = function(e) {
                    }
                }
          };
        }
    }

    // Callback for dropping position
    function drop_position(ev) {
        ev.preventDefault()

        var id = ev.target.getAttribute('todo-id')
        var prev_position = ev.dataTransfer.getData("prev_pos")
        var position = ev.target.getAttribute("pos")
        if (Math.abs(position - prev_position) == 0) {
            return
        }
        var url = `/todos/${id}/editor?hxp=set_position&position=${position}`
        htmx.ajax("POST", url, '#schedule-block')
    }

    // Setup for dragging positions
    function setupPositionDragEnv(e) {
        var handles = document.getElementsByClassName("select-icon")
    
        for (var handle of handles) {
            var draggable_elem = handle.closest(".select-drag-spot")
    
            handle.onmousedown = function(e) {
                draggable_elem.setAttribute('draggable', 'true');
                
            }
            handle.onmouseup = function(e) {
                draggable_elem.setAttribute('draggable', 'false');
                
            }
            draggable_elem.ondragstart = function(e) {
                var todo_id = e.target.getAttribute("todo-id")
                var pos = e.target.getAttribute("pos")
                e.dataTransfer.setData('prev_pos', pos)
                e.dataTransfer.setData('todo-id', todo_id)

                e.dataTransfer.setData('text/plain', 'handle');
                var position_drop_spots = document.getElementsByClassName("schedule-position-drop-spot")

                for (var drop_spot of position_drop_spots) {
                    console.log(drop_spot)

                    drop_spot.style.visibility = "visible"
                    drop_spot.ondrop = function(e) {
                        drop_position(e)
                    }
                }
            }
            draggable_elem.ondragend = function(e) {
                e.target.setAttribute('draggable', 'false')
                var position_drop_spots = document.getElementsByClassName("schedule-position-drop-spot")

                for (var drop_spot of position_drop_spots) {
                    drop_spot.style.visibility = "hidden"
                    drop_spot.ondrop = function(e) {
                        
                    }
                }
          };
        }

        
    }

</script>
<div class="floating">
    <div class="row justify-between">
        <div></div>
        <a hx-get="{% url 'todos:empty'%}" 
        hx-target="#schedule-block"
        hx-swap="innerHTML" 
        onclick="clearSelectedUsers()"
        class="cursor-pointer">
            <img src="{% static 'todos/assets/close.svg' %}" class="close-icon">
        </a>
    </div>
    <div class="row mcol-reverse justify-between gap-medium overflow-hidden">
        
        <div class="col p-1 gap-small h-40vh mh-50p overflow-scroll w-50p mw-100p">
            {% if existing_order|length > 0%}
                <div class="user-drop-spot" 
                pos="0"
                ondragover="allowDrop(event)"></div>
            {%endif%}
            {% for user in existing_order%}
            <div class="row">

                {% if forloop.counter0 == current_assignment_idx%}
                    <div class="row select-drag-spot" pos="{{forloop.counter0}}" todo-id="{{todo.id}}">
                        <img src="{% static 'todos/assets/select.svg' %}" class="select-icon">
                    </div>
                {% else %}
                    <div class="schedule-position-drop-spot" pos="{{forloop.counter0}}" todo-id="{{todo.id}}" ondragover="allowDrop(event)" todo-id="{{forloop.counter0}}"></div>
                {% endif %}
                <div class="row draggable-user-container" todo-id="{{todo.id}}" pos="{{forloop.counter0}}" draggable="true">
                    <div class="row w-10 justify-between background-mid p-05 border-radius-025">
                        
                        <p>{{user.user.username}}</p>
                        <div cass="row">
                            <a hx-post="{% url 'todos:schedule_editor' todo.id %}?hxp=delete_position&position={{forloop.counter0}}" 
                            hx-target="#schedule-block"
                            hx-swap="innerHTML"
                            class="trash-container">
                                <img src="{% static 'todos/assets/trash.svg' %}">
                            </a>
                            <img src="{% static 'todos/assets/drag.svg' %}" class="user-drag-handle" draggable="false">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="user-drop-spot" 
            pos="{{forloop.counter}}"
            ondragover="allowDrop(event)"></div>
            {%endfor%}
        </div>
        <div class="vertical-line" style="background-color: var(--mid-bg)"></div>
        <div class="col p-1 gap-small mh-50p">
            <div class="col p-05 maxh-15 gap-small">
                <div class="col align-stretch p-05 gap-small">
                    <div class="row align-stretch justify-between background-mid p-05 border-radius-025">
                        <p>{% trans 'Empty space' %}</p>
                        <input  class="user-add-check" type="checkbox" name="-1_checked" id="-1" change="userChecked(event)">
                    </div>
                    {% for user in available_users%}
                    <div class="row align-stretch justify-between background-mid p-05 border-radius-025">
                        <p>{{user.user.username}}</p>
                        <input  class="user-add-check" type="checkbox" name="{{user.id}}_checked" id="{{user.id}}" change="userChecked(event)">
                    </div>
                        
                    {% endfor %}
                </div>
                <a onclick="addSelectedUsers(event)" class="button" todo-id="{{todo.id}}">{% trans 'Add Selected Users' %}</a>
            </div>
            <div class="horizontal-line" style="background-color: var(--mid-bg); margin: 0.5rem 0;"></div>
            <div>
                <p>{% trans 'Rate in days:' %}</p>
                <input type="number" value="{{rate}}" min="1" id="rate-change-input" todo-id="{{todo.id}}">
            </div>
            <a hx-get="{% url 'todos:schedule_editor' todo.id%}?hxp=remove_schedule" 
            hx-target="#todo-list"
            hx-swap="innerHTML" 
            onclick="return confirm('{% trans 'Are you sure? By removing the schedule all the settings will be lost.' %}%')"
            class="button">
                {% trans 'Remove Schedule' %}
            </a>
        </div>
        
    </div>
</div>
