{% load i18n %}
{% load static %}
{% load filters %}
<link rel="stylesheet" href="{% static 'todos/css/todos.css' %}">
<div class="container" id="todo-list">
    <div id="schedule-block"></div>
    <h2>{% trans 'Open Todos' %}</h2>
    <div class="d-flex flex-row align-items-start justify-content-around flex-wrap row-gap-2" id="todo-block">
        <div id="open-accordion-parent" class="d-none"></div>
        {% for todo in todos%}
            <div class="todo-drop-spot" 
            ondrop="drop(event)"  
            ondragover="allowDrop(event)" 
            left="{% if forloop.counter0 == 0 %}-1{%else%}{{todos|prev:forloop.counter0|position}}{%endif%}"
            right = "{{todo.position}}"
            todo-status="open"></div>

            {% include "todos/components/todo.html" with counter=forloop.counter todo=todo%}
        {% endfor %}

        <div class="todo-new-container d-flex align-items-center justify-content-center">

            <a class="btn btn-primary " hx-post="{% url 'todos:add_todo' %}?hxp=create_todo"
            hx-target="#todo-list"
            hx-swap="outerHTML">{% trans 'New Todo' %}</a>
        </div>
    </div>

    <h2>{% trans 'Finished Todos' %}</h2>
    <div class="d-flex flex-row align-items-start justify-content-around flex-wrap row-gap-2" id="todo-block">
         {% for todo in finished_todos%}
            <div class="todo-drop-spot" 
            ondrop="drop(event)"  
            ondragover="allowDrop(event)" 
            left="{% if forloop.counter0 == 0 %}-1{%else%}{{finished_todos|prev:forloop.counter0|position}}{%endif%}"
            right = "{{todo.position}}"
            todo-status="done"></div>

            {% include "todos/components/todo.html" with counter=forloop.counter todo=todo%}
        {% endfor %}

        
    </div>

</div>

