{%load static%}
{% load i18n %}
<div class="card w-30vw minw-20 draggable-container" todo-id="{{todo.id}}">
    <form action="{% url 'todos:edit_todo' todo.id %}" 
    method="post" id="todo-edit" 
    hx-post="{% url 'todos:edit_todo' todo.id %}"
    hx-target="closest .card"
    hx-swap="outerHTML">
        {% csrf_token %}
        <div class="card-header font-w-500">
            <div class="row gap-medium">
                <img src="{% static 'todos/assets/drag.svg' %}" class="todo-drag-handle" draggable="false">
                {{ form.name }}
                <!-- <input type="text" value="{{ todo.name }}" name="todo_name" class="form-text-input"> -->
            </div>
            <p>{{todo.assigned_user.user.username}}</p>
            
            <button type="button" class="dropdown-button" collapse-target="collapse-{{todo.id}}" onclick="toggleCollapse(event)">...</button>
        </div>
        <div class="card-body collapse" id="collapse-{{todo.id}}">
            <div class="row justify-between align-start">
                <div class="col">
                    {{form.description}}
                    <!-- <textarea name="todo_description" rows="10" cols="20">{{todo.description}}</textarea>  -->
                </div>
                
                <div class="col gap-small">
                    <input type="submit" value="Save" class="button">

                    <a class="button" 
                    hx-delete="{% url 'todos:delete_todo' todo.id %}" 
                    hx-confirm="{% trans 'Are you sure you would like to delete this todo?' %}%"
                    hx-target="#todo-block"
                    >
                        {% trans 'Delete!' %}
                    </a>
                    <p>{% trans 'Assigned user:' %}</p>
                    <p>{{form.assigned_user}}</p>
                </div>
            </div>
        </div>
    </form>
</div>
