{% load static%}
{% load i18n %}
<div class="card w-30vw minw-20 draggable-container" todo-id="{{todo.id}}">
    <div class="card-header todo-header font-w-600" ondblclick="editTodo({{todo.id}})" collapse-target="collapse-{{todo.id}}" onclick="toggleCollapse(event)">
        <div class="row gap-medium">
            <img src="{% static 'todos/assets/drag.svg' %}" class="todo-drag-handle" draggable="false">
        <p class="todo-title">{{ todo.name }}</p>
            {% if todo.schedule_state is not None%}
            <img src="{% static 'todos/assets/refresh.svg' %}" class="opacity-50" >
            {% endif %}
        </div>
        {% if todo.schedule_state is None %}
            <p>{{ todo.assigned_user.user.username }}</p>
        {% else %}
            {% with current=todo.schedule_state.get_current_user %}
            <p>{{ current.user.username }}</p>
            {% endwith %}
        {% endif %}
        {% if not todo.done %}
            <a class="button" 
            hx-post="{% url 'todos:todo' todo.id %}?hxp=close_todo"
            hx-target="#todo-list">{% trans 'Done' %}</a>
        {% else %}
            <a class="button" 
            hx-post="{% url 'todos:todo' todo.id %}?hxp=open_todo"
            hx-target="#todo-list">{% trans 'Reopen' %}</a>
        {% endif %}
    </div>
    <div class="card-body collapse" id="collapse-{{todo.id}}">
        <div class="row justify-between">
            <div class="w-60p">
                <p>{{todo.description}} </p>
            </div>
            <div class="w-40p col gap-small">
                
                <a class="button" hx-post="{% url 'todos:edit_todo' todo.id %}"
                hx-target="closest .card"
                hx-swap="outerHTML">{% trans 'Edit' %}</a>
                {% if todo.schedule_state is None%}
                    <a class="button" 
                    hx-get="{% url 'todos:todo' todo.id %}?hxp=add_schedule"
                    hx-target="closest .card"
                    hx-swap="innerHTML">{% trans 'Add schedule' %}</a>
                {%else%}
                    <a class="button" 
                    hx-get="{% url 'todos:schedule_editor' todo.id %}"
                    hx-target="#schedule-block"
                    hx-swap="innerHTML"
                    onclick="clearSelectedUsers()">{% trans 'Schedule' %}</a>
                {% endif %}
                <a class="button" 
                hx-get="{% url 'todos:delete_todo' todo.id %}?hxp=todo_list" 
                hx-confirm="{% trans 'Are you sure you would like to delete this todo?' %}%"
                hx-target="#todo-list"
                >
                    {% trans 'Delete!' %}
                </a>
                <b>{% trans 'Assigned user:' %}</b>
                {% if todo.schedule_state is None %}
                    <p>{{ todo.assigned_user }}</p>
                {% else %}
                    {% with current=todo.schedule_state.get_current_user %}
                        <p>{{ current.user.username }}</p>
                    {% endwith %}
                {% endif %}

                {% if todo.schedule_state is not None %}
                    {% with next=todo.schedule_state.get_next_user %}
                    <b>Next user:</b>
                        {% if next is not None %}
                            <br>
                            <p>{{ next.user.username }}</p>
                        {% else %}
                            <br>
                            <p>{% trans 'No one' %}</p>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
</div>