$light: rgba(244, 250, 255, 1);
$light-bg: #DEE3E1;
$mid-bg: #b7c5c3;
$dark-bg: #303935;
$text: #191710;
$strong-highlight: rgb(0, 255, 136);
$light-highlight: #90FFD1;
$error-bg: #ff3c3c;
$light-error-highlight: #ff7259;
$negative-bg: #ebbbbb;
$positive-bg: #cdebbb;



/* New design colours */
$black-100: #0d0d0d;
$black-200: #313131;
$black-300: #727272;
$black-400: #d5d5d5;
$black-500: #fafafa;

$red-100: #500000;
$red-200: #940000;
$red-300: #ff3333;
$red-400: #ff8b8b;
$red-500: #ffb9b9;

$blue-100: #06203d;
$blue-200: #155392;
$blue-300: #62a0ea;
$blue-400: #98c6ff;
$blue-500: #afd7ff;