@font-face {
  font-family: 'Albert Sans';
  src: url(fonts/AlbertSans-Medium.woff2) format('woff2'),
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}




main {
    padding: 1rem;
}

/* Drop down menus */

.dropdown-button {
    width: 2rem;
    height: 2rem;
}

.form-text-input {
    border-radius: 0.1rem;
    height: 2rem;
    border-radius: 0.5rem;
}


label {
    /* Make labels align to the left instead of the center */
    margin-right: auto;
}




.center-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}