@import 'colors';

.auth-wrapper {
    position: relative;

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        background: $black-500;
        background: linear-gradient(180deg, $black-500 0%, $blue-400 65%);
        z-index: -1;
    }
}
