@import 'hub/scss/colors';
@import 'hub/scss/mixins';

#todo-block > .accordion-item,
#todo-block > .todo-new-container {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 50%;
    }

    @include media-breakpoint-up(lg) {
        width: 33.333%;
    }

    @include media-breakpoint-up(xl) {
        width: 25%;
    }
}

#todo-block .accordion-item {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 1rem;
}

#todo-block .accordion-item:has(.card-body:not(.show)) {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#todo-block .todo-edit-form .form-control {
    font-size: inherit;
}

.todo-drag-handle:hover {
    background-color: $black-400;
    border-radius: 0.5rem;
    cursor: grab;
}

.todo-drop-spot {
    background-color: $black-500;
    width: 2.5rem;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: $black-400;
    height: 3.5rem;
    display: none;
}

.trash-container {
    display: inline-block;
    height: 100%;
}

.user-drop-spot {
    background-color: $black-400;
    width: 5rem;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: $black-300;
    height: 2rem;
    visibility: collapse;
    flex-shrink: 0;
}

.user-drag-handle:hover {
    cursor: grab;
}

.select-icon:hover {
    cursor: grab;
}

.schedule-position-drop-spot {
    background-color: $black-400;
    border-style: dashed;
    border-radius: 0.5rem;
    border-color: $black-300;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    visibility: hidden;
}
